@font-face {
    font-family: "stencil";
	src: url("../fonts/SYENCILED_PERSONAL_USE.otf");
}

@font-face {
	font-family: "stencilia-bold";
	src: url("../fonts/Stencilia-Bold.ttf");
}

@font-face {
	font-family: "stencilia-a";
	src: url("../fonts/Stencilia-A.ttf");
}

@font-face {
	font-family: "lego";
	src: url("../fonts/KGLegoHouse.ttf");
}

*{
    font-family: "stencilia-a";
}

#navHeader h1,
.profileContainer section:nth-of-type(2) div:nth-of-type(2) > h4{
    font-family: "stencil";
}