
/* INITIAL RESET */
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}
@media (min-width: 1250px){
	#allProfileContainer{
		display: grid;
		grid-template-columns: 0.5fr 0.5fr;
		opacity: 1.0;
	}
}
#navHeader{
	background-color: black;
	color: white;
	box-shadow: 0px 10px 15px grey;
	margin-bottom: 20px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 100;
}

#navHeader * {
	display: inline-block;
	margin: 5px;
}

#navHeader h1{
	padding: 0px 20px 0px 20px;
}

#navHeader input{
	position: absolute;
	top: 15%;
	right: 10%;
	border-radius: 7px;
	color: black;
	width: 30%;
	height: 35px;
}
#navHeader button{
	position: absolute;
	top: 15%;
	right: 2%;
	color: black;
	border-radius: 7px;
	padding: 5px;
}
#globalContainer{
	background: url("../images/paintedTank.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding-top: 10%;
	overflow-x: hidden;
}

#pagerCTL{
	width: 20%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

#pagerCTL p{
	border: 0.5px solid white;
	border-radius: 15px;
	font-size: 1.1em;
	color: white;
	padding: 5px;
	margin-top: auto;
	margin-bottom: auto;
}

#allProfileContainer{
	opacity: 1.0;
}
.profileContainer{
	padding: 2%;
	border: solid black;
	border-radius: 5px;
	box-shadow: 10px 10px 10px #4C4C4C;
	width: 650px;
	margin:auto;
	margin-top: 80px;
	margin-bottom: 20px;
	background-color: white;
	opacity: 1.0;
}

#tankemTitle{
	border-radius: 15px;
	border: 0.5px solid black;
	width: 50%;
	margin: auto;
	padding: 100px;
	background: url("../images/white80.png")
}
#tankemTitle img{
	padding: 5px 10px 0px 10px;
	border: 0.5px solid black;
	border-radius: 15px;
	width: 100%;
}

.profileContainer section:nth-of-type(1){
	display: grid;
	grid-template-columns: 0.4fr 2fr 0.5fr;
	grid-column-gap: 10px;
	border-bottom: 1px solid black;
	
}

.profileContainer section:nth-child(1) > span:nth-of-type(1){
	grid-column: 1;
	position: relative;
	background-image: url("../images/laurelwreath.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.level{
	position: relative;
	top: 5px;
	font-size: 2.5em;
	text-align: center;
}
.profileContainer section:nth-child(1) > span:nth-of-type(2){
	grid-column: 2;
	text-align: center;
}
.nomCalcule{
	font-size: 2em;
	font-weight: bold;
}
.badgeZone{
	grid-column: 3
}

.hallBadge{
	margin: auto;
	width:70%;
}
.hallBadge img{
	width: 100%;
}

.profileContainer section:nth-of-type(2){
	margin-top: 20px;
	display: grid;
	grid-template-columns: 0.4fr 0.6fr;
	grid-template-rows: auto;
	grid-row-gap: 5px;
}

.profileContainer section:nth-of-type(2) > div:nth-of-type(1){
	grid-column: 1;
	width:80%;
	margin: auto;
}
.profileContainer section:nth-of-type(2) > div:nth-of-type(1) img{
	width: 100%;
}
.profileContainer section:nth-of-type(2) div:nth-of-type(2){
	grid-column: 2;
	display: grid;
	grid-template-columns: 0.8fr 0.2fr;
}

.profileContainer section:nth-of-type(2) div:nth-of-type(2) > h4{
	grid-column: 1 / 2;
	font-weight: bold;
	border-bottom: 1px solid black;
}
.profileContainer section:nth-of-type(2) div:nth-of-type(2) > .statLabel{
	grid-column: 1;
	margin-left: 10px;
}

.profileContainer section:nth-of-type(2) div:nth-of-type(2) > .statValue{
	grid-column: 2;
	text-align: right;
	margin-right: 5px;
}
