body{
	background-color:rgba(155,155,0,0.25);
}

.conteneur{
	margin-top:200px;
}

.colorPickerContainer{
	background-color:white;
	width:100%;
	border-radius:10px;
	padding-bottom:10px;
}

.colorPickerContainer2{
	background-color:white;
	width:100%;
	border-radius:10px;
	padding-bottom:10px;
}

.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }


@media only screen and (min-width:992px){
	.colorPickerContainer{
		width:50%;
	}
}

@media only screen and (min-width:1200px){
	.colorPickerContainer2{
		width:100%;
	}
}