html{
    overflow-y : hidden;
}
body{
    background-color: rgba(155,155,0,0.25);
}
.dropdown{
    position: relative;
}
.dropdown a {
    display:block;
}
#title{
    margin-left: 50px;
}
#canvas{
    background-color: grey;
    opacity : 0.5;
    position: absolute;
    top:150px;
    left:560px;
}
#card2{
    position: absolute;
    right : 100px;
    top: 250px;
    border: 1px solid black;
}
#card1{
    position: absolute;
    left : 100px;
    top: 250px;
    border: 1px solid black;
}
.card-body{
    border: 1px solid black;
}
#container{
    position: absolute;
    top:850px;
    left:620px
    
}
#btnPlay{
    margin-left: 33%;
    position: absolute;
    top:0px;
    left:-230px;
}
#slider{
    padding-left: 50px;
    display :inline-block;
    width: 500px;
}
#btnPause{
    display : inline-block;
}
h1{
    padding-top:50px;
}
#videoSlide{
    padding-bottom: 500px;
}